BASE_URL=https://opensource-demo.orangehrmlive.com
ADMIN_USERNAME=Admin
ADMIN_PASSWORD=admin123
EMPLOYEE_USERNAME=Paul.T
EMPLOYEE_PASSWORD=Supervisor@1
MANAGER_USERNAME=Paul.T
MANAGER_PASSWORD=Supervisor@1
BROWSER=chrome
HEADLESS=false
IMPLICIT_WAIT=10
EXPLICIT_WAIT=20
